<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facetest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 脸部识别权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_setting.SettingSpeakDetailsActivity"></activity>
        <activity android:name=".activity_setting.AddSpeakActivity" />
        <activity android:name=".activity_setting.SettingSpeakActivity" />
        <activity android:name=".activity_exhibition.GuideActivity" />
        <activity android:name=".activity_exhibition.ExhibitionDetailsActivity" />
        <activity android:name=".activity_setting.SettingExhDetailsActivity" />
        <activity android:name=".activity_setting.SettingExhibitonActivity" />
        <activity
            android:name=".activity_setting.ModifyPassword"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_setting.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_exhibition.PassWordActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_exhibition.ExhibitionItemActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_work.WorkModelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_exhibition.ExhibitionModeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_exhibition.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="@string/metadata_skill"
            android:value="@string/app_name" />
        <meta-data
            android:name="@string/metadata_actions"
            android:value="q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,             q11,q12,q13,q14,q15,q16,q17,q18,q19,q20,             q21,q22,q23,q24,q25,q26,q27,q28,q29,q30,             q31,q32,q33,q34,q35,q36,q37,q38,q39,q40,             q41,q42,q43,q44,q45,q46,q47,q48,q49,q50,             q51,q52,q53,q53,q55,q56,q57,q58,q59,q60,             q61,q62,q63,q64,q65,q66,q67,q68,q69,q70,             q71,q72,q73,q74,q75,q76,q77,q78,q79,q80,             q81,q82,q83,q84,q85,q86,q87,q88,q89,q90,             q91,q92,q93,q94,q95,q96,q97,q98,q99,q100" />
    </application>

</manifest>